<h1> APP ANGULAR</h1>


<!-- PARA EVITAR QUE LA PAGINA SE REFRESQUE CUANDO HACEMOS CLICK EN UN ENLACE UTILLIZAREMOS EL ROUTERLINK -->
<!-- <nav class="nav">
  <a href="inicio">Inicio | </a>
  <a href="primero">Primero | </a>
  <a href="segundo">Segundo</a>
</nav> -->

<nav class="nav">
  <a routerLink="inicio" routerLinkActive="red" class="button">Inicio </a>
  <a routerLink="primero" routerLinkActive="red" class="button">Primero</a>
  <a [routerLink]= "[ 'segundo', 10, 50 ]" routerLinkActive="red" class="button">Segundo</a>
</nav>

<router-outlet></router-outlet>