/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
}
.red{
    color: red;
}

.button{
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px black solid;

}